html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

[class*='grid'],
[class*='col-'],
[class*='mobile-'],
.grid:after,
.grid--header:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

[class*='col-'] {
  float: left;
  min-height: 1px;
  padding-right: 10px;
  /* column-space */ }

[class*='col-'] [class*='col-']:last-child {
  padding-right: 0; }

.grid, .grid--header {
  width: 98%;
  max-width: 1140px;
  min-width: 748px;
  margin: 0 auto;
  position: relative; }

.grid--header {
  max-width: 1480px; }

.grid:after, .grid--header:after {
  content: "";
  display: table;
  clear: both; }

.grid-pad {
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 0; }

.push-right {
  float: right; }

/* Content Columns */
.col-1-1 {
  width: 100%; }

.col-2-3, .col-8-12 {
  width: 66.66%; }

.col-1-2, .col-6-12 {
  width: 50%; }

.col-1-3, .col-4-12 {
  width: 33.33%; }

.col-1-4, .col-3-12 {
  width: 25%; }

.col-1-5 {
  width: 20%; }

.col-1-6, .col-2-12 {
  width: 16.667%; }

.col-1-7 {
  width: 14.28%; }

.col-1-8 {
  width: 12.5%; }

.col-1-9 {
  width: 11.1%; }

.col-1-10 {
  width: 10%; }

.col-1-11 {
  width: 9.09%; }

.col-1-12 {
  width: 8.33%; }

/* Layout Columns */
.col-11-12 {
  width: 91.66%; }

.col-10-12 {
  width: 83.333%; }

.col-9-12 {
  width: 75%; }

.col-5-12 {
  width: 41.66%; }

.col-7-12 {
  width: 58.33%; }

/* Pushing blocks */
.push-2-3, .push-8-12 {
  margin-left: 66.66%; }

.push-1-2, .push-6-12 {
  margin-left: 50%; }

.push-1-3, .push-4-12 {
  margin-left: 33.33%; }

.push-1-4, .push-3-12 {
  margin-left: 25%; }

.push-1-5 {
  margin-left: 20%; }

.push-1-6, .push-2-12 {
  margin-left: 16.667%; }

.push-1-7 {
  margin-left: 14.28%; }

.push-1-8 {
  margin-left: 12.5%; }

.push-1-9 {
  margin-left: 11.1%; }

.push-1-10 {
  margin-left: 10%; }

.push-1-11 {
  margin-left: 9.09%; }

.push-1-12 {
  margin-left: 8.33%; }

@media handheld, only screen and (max-width: 767px) {
  .grid, .grid--header {
    width: 100%;
    min-width: 0;
    margin-left: 0;
    margin-right: 0;
    padding-left: 10px;
    padding-right: 10px; }
  [class*='col-'] {
    width: auto;
    float: none;
    margin: 10px 0;
    padding-left: 0;
    padding-right: 10px; }
  [class*='col-'] [class*='col-'] {
    padding-right: 0; }
  /* Mobile Layout */
  [class*='mobile-col-'] {
    float: left;
    margin: 0 0 10px;
    padding-left: 0;
    padding-right: 10px;
    padding-bottom: 0; }
  .mobile-col-1-1 {
    width: 100%; }
  .mobile-col-2-3, .mobile-col-8-12 {
    width: 66.66%; }
  .mobile-col-1-2, .mobile-col-6-12 {
    width: 50%; }
  .mobile-col-1-3, .mobile-col-4-12 {
    width: 33.33%; }
  .mobile-col-1-4, .mobile-col-3-12 {
    width: 25%; }
  .mobile-col-1-5 {
    width: 20%; }
  .mobile-col-1-6, .mobile-col-2-12 {
    width: 16.667%; }
  .mobile-col-1-7 {
    width: 14.28%; }
  .mobile-col-1-8 {
    width: 12.5%; }
  .mobile-col-1-9 {
    width: 11.1%; }
  .mobile-col-1-10 {
    width: 10%; }
  .mobile-col-1-11 {
    width: 9.09%; }
  .mobile-col-1-12 {
    width: 8.33%; }
  /* Layout Columns */
  .mobile-col-11-12 {
    width: 91.66%; }
  .mobile-col-10-12 {
    width: 83.333%; }
  .mobile-col-9-12 {
    width: 75%; }
  .mobile-col-5-12 {
    width: 41.66%; }
  .mobile-col-7-12 {
    width: 58.33%; }
  .hide-on-mobile {
    display: none !important;
    width: 0;
    height: 0; } }

@font-face {
  font-family: 'heeboblack';
  src: url(73e9619e82291f90a6ecb47a3a77bd1d.woff2) format("woff2"), url(28c009a7c11b1e98867b5799190ab7f4.woff) format("woff"), url(3e8aac2269180ba103d163601e0fc4d3.ttf) format("truetype"), url(d6b1776613c5d962bc18d2ce53c49ac9.svg#heeboblack) format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'heebobold';
  src: url(1533120a7c623f0012f1107fed24ff81.woff2) format("woff2"), url(37f822bb0beb4943f5b9d475cc01b1e4.woff) format("woff"), url(fa0e9636d00a9153f517ee056847907f.ttf) format("truetype"), url(2eaea3f7226431345c21f65be4dd4955.svg#heebobold) format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'heebomedium';
  src: url(bb17370101430e4cdb6599783d21cda1.woff2) format("woff2"), url(8b5b2e6b7ce6c9e6bd14c65b95cc2cd7.woff) format("woff"), url(5d2736d8d4d29dc212c6e68fd605d25a.ttf) format("truetype"), url(660c2af72ef72b88accb7a79447998d1.svg#heebomedium) format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'heeboregular';
  src: url(7b8f4db838a010fcc7e3f5a01d62e87f.woff2) format("woff2"), url(4eb43f8b64730fac703f905ba8a156d6.woff) format("woff"), url(74db6785eb5b7f70065566404b108bd5.ttf) format("truetype"), url(fb16d1b54251efa81ac1f757608fff4f.svg#heeboregular) format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'montserratblack';
  src: url(4bd758246694d2377d61b25fe91d1706.woff2) format("woff2"), url(ac319e83f79612575e1780192ced794f.woff) format("woff"), url(96d67d513840f596314d33604262d070.ttf) format("truetype"), url(1dbb1836c74af99b736b35d64204c84b.svg#montserratblack) format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'montserratlight';
  src: url(f11b327f7727a58ef3294e8dd7a645b9.woff2) format("woff2"), url(d172d893b949b4500ed7ee92f3f6e021.woff) format("woff"), url(5dcf1df6249f078215d6c534cdcc863b.ttf) format("truetype"), url(2aa035fb366bb0798711d3a6fbabac13.svg#montserratlight) format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'montserratmedium';
  src: url(f27a0c62392a13d5c855fdc16617fb46.woff2) format("woff2"), url(77499f315fa8b2ec7f9461977b22b4cf.woff) format("woff"), url(f2f53115f963a0fead0f3fa2efee5c19.ttf) format("truetype"), url(33929f9adcb723c763998cada9213ff1.svg#montserratmedium) format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'montserratregular';
  src: url(c0eb9ec1ed30d5bd93700199fbe605a6.woff2) format("woff2"), url(f2849f1741238fdb3bece0ca48bbaf9d.woff) format("woff"), url(4b8c2147ae2d8e1ec91fe432674a5757.ttf) format("truetype"), url(bcf70e65c506effb4ea0a98ab2a02440.svg#montserratregular) format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'montserratthin';
  src: url(4cc58d5649614d8049b6005f76346534.woff2) format("woff2"), url(b74125c8a8d8d921f63e121e6aa5973a.woff) format("woff"), url(1d4c26fe7dab1ff19b4510ac16a071f2.ttf) format("truetype"), url(66abb407a468e270d7efafcd2894caec.svg#montserratthin) format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Montserrat-SemiBold';
  src: url(2f3f9c1557f09e192bfa3e2bebb20ad3.woff2) format("woff2"), url(3d2d13853665147fb8c2353d61c077ce.woff) format("woff"), url(aebf4fe19e37e3d508a8f6950f9378d1.ttf) format("truetype"), url(917453d5a1eaa8b831d21ef22782546b.svg#Montserrat-SemiBold) format("svg");
  font-weight: 600;
  font-style: normal; }

/*font*/
/*colors*/
/* main style*/
.link {
  font-family: "heeboregular";
  text-decoration: none;
  color: #fff;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }

.link:hover {
  color: #F98100; }

.title {
  font-family: "Montserrat-SemiBold"; }
  .title--welcome {
    color: #fff;
    font-size: 22px;
    padding: 8px 0;
    letter-spacing: 3px;
    letter-spacing: 15px; }
  .title--main {
    color: #fff;
    font-size: 76px;
    padding-top: 20px;
    padding-bottom: 15px;
    line-height: 84px;
    font-family: "Montserrat-SemiBold";
    letter-spacing: 15px; }
  .title--sub {
    color: #fff;
    font-size: 22px;
    padding: 8px 0;
    letter-spacing: 3px; }
  .title--normal {
    font-family: "montserratregular";
    font-size: 22px;
    width: 100%;
    text-align: center;
    padding-bottom: 45px;
    letter-spacing: 5px;
    display: inline-block; }

.image {
  width: 100%;
  max-width: 238px;
  margin: auto;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  z-index: 1;
  position: relative; }

@media (max-width: 600px) {
  .title {
    letter-spacing: 1px; }
    .title--welcome {
      font-size: 1em;
      padding: 0; }
    .title--main {
      font-size: 3em;
      padding-top: 15px;
      line-height: 28px; }
    .title--sub {
      font-size: 1em;
      padding: 0; } }

.lines {
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px; }

@media (max-width: 767px) {
  .lines {
    padding-left: 0px;
    padding-right: 0px; } }

.line-right {
  border-right: 1px solid #D8D8D8;
  display: inline-block;
  width: 96%;
  padding-right: 4%;
  position: relative;
  z-index: 1; }

.line-hr {
  border-top: 1px solid #D8D8D8;
  width: 100%;
  height: 1px;
  margin-top: 20px;
  margin-bottom: 20px;
  display: inline-block; }

@media (max-width: 767px) {
  .line-right {
    border-right: 0px solid #B5B5B5;
    display: inline-block;
    width: 100%;
    padding-right: 0; } }

.right {
  text-align: right !important; }

.left {
  text-align: left !important; }

.search__group {
  padding-bottom: 10px; }

.search__check {
  padding-bottom: 40px;
  font-family: "heeboregular";
  color: #555555;
  font-size: 22px; }

.search__label {
  font-size: 20px;
  color: #B5B5B5; }

.button {
  font-family: "heebobold";
  color: #F98100;
  padding: 10px 40px;
  border: 2px solid #F98100;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  border-radius: 25px;
  background-color: #fff;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  font-size: 15px; }
  .button--book {
    border: 1px solid #F98100;
    font-size: 13px;
    padding: 5px 30px;
    cursor: pointer;
    margin-right: 30px;
    margin-bottom: 10px; }
  .button--price {
    border: 1px solid #79BD1A;
    font-size: 13px;
    padding: 5px 30px;
    cursor: pointer;
    color: #79BD1A; }
  .button--description {
    border: 0px;
    font-size: 12px;
    padding: 5px 30px 5px 50px;
    cursor: pointer;
    color: #555555;
    font-family: "heeboregular";
    background-image: url(235b3003fbd9cbd7f475049d3d65a6e7.svg);
    background-size: auto 80%;
    background-repeat: no-repeat;
    background-position-y: 3px;
    background-position-x: 0;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px; }
  .button:focus {
    outline: 0; }
  .button:hover {
    color: #fff;
    background-color: #F98100; }
  .button--description:hover {
    background-color: #fff;
    color: #F98100; }
  .button--price:hover {
    color: #fff;
    background-color: #79BD1A;
    border-color: #79BD1A; }

/*header*/
.header__title {
  margin-top: 30px;
  margin-bottom: 80px;
  text-align: center; }

@media (max-width: 600px) {
  .header__title {
    margin-top: 5px;
    margin-bottom: 15px; } }

.icon-crown {
  background: url(cfac4e587142fab6bf4632dda22003b9.svg);
  display: inline-block;
  background-size: 100% auto;
  background-position: center center;
  background-repeat: no-repeat;
  width: 45px;
  height: 45px; }

.icon-star {
  background: url(01361fb33b58695c23e15c3bbc9ad4b6.svg);
  display: inline-block;
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  width: 13px;
  height: 13px;
  margin-right: 10px; }

.icon-rate, .icon-rate--null {
  background: url(01361fb33b58695c23e15c3bbc9ad4b6.svg);
  display: inline-block;
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  width: 25px;
  height: 25px;
  margin-right: 10px;
  border: 0;
  background-color: #fff;
  color: transparent;
  cursor: pointer; }
  .icon-rate--null {
    background: url(fdd025031295d7f72057a085f71f6542.svg); }

.icon-rate:focus, .icon-rate--null:focus {
  outline: 0; }

@media (max-width: 600px) {
  .icon-crown {
    width: 30px;
    height: 30px; } }

.bg {
  position: absolute;
  width: 100%;
  background: url(1bb7f0062517e647d1235e06de64e40f.jpg);
  height: 600px;
  z-index: -1;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }

@media (max-width: 600px) {
  .bg {
    height: 400px;
    background-size: auto 100%;
    background-attachment: local; } }

.menu {
  font-size: 0.9em; }

.item {
  display: inline-block;
  padding: 15px 20px; }

@media (max-width: 767px) {
  .item {
    display: inline-block;
    padding: 15px 10px; } }

.item--social {
  padding: 35px 15px; }

.item:nth-child(1) {
  padding-left: 0; }

.item--social:nth-child(1) {
  padding: 15px 20px; }

.hidden {
  height: 0px;
  min-height: 0px;
  display: block;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  overflow: hidden;
  opacity: 0; }

.visible, .visible--g {
  height: auto;
  min-height: 100px;
  display: inline-block;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  position: relative;
  z-index: 1; }
  .visible--g {
    min-height: auto; }

.group {
  padding: 20px 0; }
  .group--right {
    text-align: right; }

@media (max-width: 767px) {
  .group--right {
    text-align: left; } }

/*container*/
.box {
  background-color: #fff;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  padding-top: 80px;
  padding-bottom: 25px; }

.box-edit {
  display: block;
  height: 100%;
  right: 0;
  width: 93%;
  top: 0;
  -webkit-box-shadow: 6px 9px 41px -15px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 6px 9px 41px -15px rgba(0, 0, 0, 0.75);
  box-shadow: 6px 9px 41px -15px rgba(0, 0, 0, 0.75);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  position: absolute;
  z-index: 0; }

@media (max-width: 767px) {
  .box-edit {
    width: 100%; } }

@media (max-width: 600px) {
  .box {
    padding-top: 25px; } }

.filter {
  width: 98%;
  display: block;
  margin: auto;
  max-width: 920px; }
  .filter__title {
    padding-bottom: 5px;
    font-size: 12.8px;
    color: #B5B5B5;
    font-family: "heeboregular"; }
  .filter--hotel {
    width: 85%;
    padding-right: 15%; }

@media (max-width: 767px) {
  .filter--hotel {
    width: 100%;
    padding-right: 0; } }

.count {
  color: #F98100;
  font-size: 22px;
  font-family: "heebobold"; }

.barchart {
  width: 100% !important; }

.recharts-responsive-container {
  height: 280px !important;
  font-family: "heeboregular"; }

.calendar__header {
  color: #555555;
  font-family: "heeboregular";
  font-size: 15px;
  padding-bottom: 5px;
  text-align: center;
  display: inline-block;
  width: 100%; }

@media (max-width: 600px) {
  .filter__title {
    font-size: 1em;
    letter-spacing: 2px;
    padding-bottom: 25px; } }

.price {
  padding-top: 30%;
  padding-left: 25%;
  padding-right: 25%;
  width: 50%;
  text-align: left;
  position: relative;
  z-index: 1; }

.value {
  text-align: right;
  color: #79BD1A;
  font-family: "Montserrat-SemiBold";
  font-size: 30px; }

.rate {
  margin-bottom: 20px; }

@media (max-width: 920px) {
  .value {
    font-size: 18px; } }

@media (max-width: 1225px) and (min-width: 921px) {
  .value {
    font-size: 24px; } }

@media (max-width: 767px) {
  .value {
    text-align: left; } }

.label {
  font-family: "montserratthin";
  font-size: 16px;
  text-align: right;
  color: #B5B5B5; }

@media (max-width: 1225px) and (min-width: 921px) {
  .label {
    font-size: 15px; } }

@media (max-width: 920px) {
  .label {
    font-size: 14px; } }

@media (max-width: 767px) {
  .label {
    text-align: left; } }

@media (max-width: 767px) {
  .price {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 0;
    padding-left: 0;
    text-align: left;
    width: 100%; } }

.hotel {
  padding-bottom: 5px;
  padding-top: 5px;
  position: relative;
  margin-bottom: 30px; }
  .hotel__title {
    font-size: 16px;
    font-family: "heebobold";
    padding-bottom: 10px;
    padding-top: 5px;
    color: #F98100; }
  .hotel__text {
    color: #B5B5B5;
    font-family: "heeboregular";
    font-size: 15px; }

.title--stars {
  font-size: 18px;
  font-family: "heeboregular";
  color: #B5B5B5; }

@media (max-width: 767px) {
  .hotel {
    padding: 5px 6%; } }

/*footer*/
.footer {
  padding: 10px 0;
  text-align: center; }
  .footer__text {
    color: #B5B5B5;
    font-family: "heeboregular";
    font-size: 0.9em; }

.facebook {
  width: 35px;
  height: 35px;
  display: block;
  background: url(6d49be3685a60e2ea71307f5a1360acc.svg);
  color: transparent;
  background-repeat: no-repeat;
  background-position: center; }

.twitter {
  width: 35px;
  height: 35px;
  display: block;
  background: url(16a44d1c5f728ea28db506a4618c8551.svg);
  background-repeat: no-repeat;
  color: transparent;
  background-position: center; }

.instagram {
  width: 35px;
  height: 35px;
  display: block;
  background: url(d531bd365f9b50fd736e64a40751806b.svg);
  background-repeat: no-repeat;
  color: transparent;
  background-repeat: no-repeat;
  background-position: center; }

/*CALENDAR*/
.Cal__Day__root {
  display: inline-block;
  box-sizing: border-box;
  width: 14.28571%;
  list-style: none;
  font-size: 15px;
  text-align: center;
  cursor: pointer;
  font-family: "heeboregular";
  user-select: none; }

.Cal__Day__root.Cal__Day__enabled.Cal__Day__highlighted,
.Cal__Day__root.Cal__Day__enabled:active,
.Cal__Day__root.Cal__Day__enabled:hover {
  position: relative;
  z-index: 1; }

.Cal__Day__root.Cal__Day__enabled.Cal__Day__highlighted:before,
.Cal__Day__root.Cal__Day__enabled:active:before,
.Cal__Day__root.Cal__Day__enabled:hover:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 52px;
  height: 52px;
  margin-top: -26px;
  margin-left: -26px;
  border-radius: 50%;
  background-color: #EFEFEF;
  z-index: -1; }

.Cal__Day__root.Cal__Day__enabled:hover:before {
  opacity: 0.5; }

.Cal__Day__root.Cal__Day__enabled.Cal__Day__highlighted:before,
.Cal__Day__root.Cal__Day__enabled:active:before {
  opacity: 1; }

.Cal__Day__root:first-child {
  position: relative; }

.Cal__Day__root.Cal__Day__today {
  position: relative;
  z-index: 2; }

.Cal__Day__root.Cal__Day__today > span {
  color: #3d3d3d; }

.Cal__Day__root.Cal__Day__today.Cal__Day__disabled > span {
  color: #AAA; }

.Cal__Day__root.Cal__Day__today:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 52px;
  height: 52px;
  margin-top: -26px;
  margin-left: -26px;
  border-radius: 50%;
  box-shadow: inset 0 0 0 1px;
  z-index: -1; }

.Cal__Day__root.Cal__Day__today.Cal__Day__disabled:before {
  box-shadow: inset 0 0 0 1px #BBB; }

.Cal__Day__root.Cal__Day__selected {
  position: relative; }

.Cal__Day__root.Cal__Day__selected > .Cal__Day__month,
.Cal__Day__root.Cal__Day__selected > .Cal__Day__year {
  display: none; }

.Cal__Day__root.Cal__Day__selected:before {
  display: none; }

.Cal__Day__root.Cal__Day__selected .Cal__Day__selection {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 52px;
  height: 52px;
  margin-top: -26px;
  margin-left: -26px;
  border-radius: 50%;
  line-height: 56px;
  z-index: 2; }

.Cal__Day__root.Cal__Day__selected .Cal__Day__selection .Cal__Day__month {
  top: 9px; }

.Cal__Day__root.Cal__Day__selected .Cal__Day__selection .Cal__Day__day {
  position: relative;
  top: 5px;
  font-weight: bold;
  font-size: 16px; }

.Cal__Day__root.Cal__Day__disabled {
  color: #AAA;
  cursor: not-allowed; }

.Cal__Day__month,
.Cal__Day__year {
  position: absolute;
  left: 0;
  right: 0;
  font-size: 12px;
  line-height: 12px;
  text-transform: capitalize; }

.Cal__Day__month {
  top: 5px; }

.Cal__Day__year {
  bottom: 5px; }

/*
 * Range selection styles
 */
.Cal__Day__range.Cal__Day__selected.Cal__Day__start:after,
.Cal__Day__range.Cal__Day__selected.Cal__Day__end:after {
  content: '';
  position: absolute;
  top: 50%;
  width: 50%;
  height: 52px;
  margin-top: -26px;
  box-shadow: inset 56px 56px; }

.Cal__Day__range.Cal__Day__selected.Cal__Day__disabled .Cal__Day__selection.Cal__Day__selection {
  background-color: #EEE !important; }

.Cal__Day__range.Cal__Day__selected.Cal__Day__disabled .Cal__Day__selection.Cal__Day__selection .Cal__Day__day,
.Cal__Day__range.Cal__Day__selected.Cal__Day__disabled .Cal__Day__selection.Cal__Day__selection .Cal__Day__month {
  color: #AAA;
  font-weight: 300; }

.Cal__Day__range.Cal__Day__selected.Cal__Day__start .Cal__Day__selection {
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
  background-color: #79BD1A !important; }

.Cal__Day__range.Cal__Day__selected.Cal__Day__start:after {
  right: 0; }

.Cal__Day__range.Cal__Day__selected.Cal__Day__start.Cal__Day__end:after {
  display: none; }

.Cal__Day__range.Cal__Day__selected.Cal__Day__betweenRange .Cal__Day__selection {
  left: 0;
  right: 0;
  width: 100%;
  margin-left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0; }

.Cal__Day__range.Cal__Day__selected.Cal__Day__betweenRange .Cal__Day__day {
  top: 0;
  font-size: 15px; }

.Cal__Day__range.Cal__Day__selected.Cal__Day__betweenRange .Cal__Day__month {
  display: none; }

.Cal__Day__range.Cal__Day__selected.Cal__Day__end:after {
  left: 0; }

.Cal__Day__range.Cal__Day__selected.Cal__Day__end .Cal__Day__selection {
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
  border-color: #79BD1A !important;
  color: inherit !important;
  background-color: #fff !important;
  border: 2px solid;
  box-sizing: border-box; }

.Cal__Day__range.Cal__Day__selected.Cal__Day__end .Cal__Day__selection .Cal__Day__day {
  top: 4px; }

.Cal__Container__root {
  position: relative;
  display: table;
  z-index: 1;
  font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
  line-height: 1.4em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 300;
  outline: none;
  text-align: left;
  width: 100% !important; }

.Cal__Container__root.Cal__Container__landscape {
  display: flex;
  flex-direction: row; }

.Cal__Container__root.Cal__Container__landscape .Cal__Container__wrapper {
  position: relative;
  flex-grow: 1;
  overflow: hidden;
  z-index: 1;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px; }

.Cal__Container__listWrapper {
  position: relative;
  overflow: hidden;
  background-color: #fff; }

.Cal__Header__root {
  position: relative;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  overflow: hidden;
  padding: 20px;
  line-height: 1.3;
  font-weight: 400;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px; }

.Cal__Header__root.Cal__Header__landscape {
  align-items: flex-start;
  min-width: 200px;
  border-top-right-radius: 0;
  border-bottom-left-radius: 3px; }

.Cal__Header__root.Cal__Header__landscape .Cal__Header__dateWrapper.Cal__Header__day {
  flex-grow: 1;
  height: 76px; }

.Cal__Header__wrapper {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  cursor: pointer; }

.Cal__Header__wrapper.Cal__Header__blank {
  height: 58px;
  line-height: 58px;
  color: rgba(255, 255, 255, 0.5);
  font-size: 18px;
  cursor: default; }

.Cal__Header__dateWrapper {
  position: relative;
  display: block;
  overflow: hidden;
  color: rgba(255, 255, 255, 0.5);
  transition: color 0.3s ease; }

.Cal__Header__dateWrapper.Cal__Header__active {
  color: #555555; }

.Cal__Header__dateWrapper.Cal__Header__day {
  height: 20px;
  font-size: 16px;
  line-height: 16px;
  color: #555555;
  font-family: "heeboregular"; }

.Cal__Header__dateWrapper.Cal__Header__year {
  height: 20px;
  font-size: 18px;
  line-height: 18px;
  font-family: "heeboregular"; }

.Cal__Header__date {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  color: #555555; }

.Cal__Header__range {
  display: flex;
  flex-grow: 1; }

.Cal__Header__range .Cal__Header__dateWrapper {
  overflow: visible; }

.Cal__Header__range .Cal__Header__wrapper:first-child:before,
.Cal__Header__range .Cal__Header__wrapper:first-child:after {
  content: '';
  position: absolute;
  top: 0;
  left: 50%;
  width: 0;
  height: 0;
  margin-top: -50px;
  margin-left: -50px;
  border-top: 100px solid transparent;
  border-bottom: 100px solid transparent;
  border-left: 60px solid; }

.Cal__Header__range .Cal__Header__wrapper:first-child:before {
  color: rgba(255, 255, 255, 0.15);
  transform: translateX(1px); }

.Cal__Header__range .Cal__Header__wrapper:last-child {
  margin-left: 60px; }

.Cal__Header__range .Cal__Header__wrapper .Cal__Header__date {
  white-space: nowrap;
  z-index: 1; }

.Cal__Today__root {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 32px;
  padding: 6px;
  box-sizing: border-box;
  transform: translate3d(0, -100%, 0);
  font-weight: 500;
  line-height: 0;
  z-index: 10;
  cursor: pointer;
  transition: transform 0.3s ease;
  transition-delay: 0.3s; }

.Cal__Today__root.Cal__Today__show {
  transform: translate3d(0, 0, 0);
  transition-delay: 0s; }

.Cal__Today__root.Cal__Today__show .Cal__Today__chevron {
  transition: transform 0.3s ease; }

.Cal__Today__root .Cal__Today__chevron {
  position: absolute;
  top: 50%;
  margin-top: -6px;
  margin-left: 5px;
  transform: rotate(270deg);
  transition: transform 0.3s ease; }

.Cal__Today__root.Cal__Today__chevronUp .Cal__Today__chevron {
  transform: rotate(180deg); }

.Cal__Today__root.Cal__Today__chevronDown .Cal__Today__chevron {
  transform: rotate(360deg); }

.Cal__MonthList__root {
  width: 100% !important;
  background-color: #fff;
  -webkit-overflow-scrolling: touch; }

.Cal__MonthList__root.Cal__MonthList__scrolling > div {
  pointer-events: none; }

.Cal__MonthList__root.Cal__MonthList__scrolling label {
  opacity: 1; }

.Cal__Weekdays__root {
  position: relative;
  z-index: 5;
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
  box-shadow: inset 0 -1px rgba(0, 0, 0, 0.04); }

.Cal__Weekdays__day {
  padding: 10px 0;
  flex-basis: 14.28571%;
  flex-grow: 1;
  font-weight: 500;
  text-align: center;
  color: #B5B5B5;
  font-family: "heebobold";
  font-size: 15px;
  border-bottom: #E3E3E3 1px solid; }

.Cal__Years__root {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #F9F9F9; }

.Cal__Years__root:before,
.Cal__Years__root:after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  height: 50px;
  pointer-events: none;
  z-index: 1; }

.Cal__Years__root:before {
  top: 0;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.8) 0%, rgba(255, 255, 255, 0) 100%); }

.Cal__Years__root:after {
  bottom: 0;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.8) 100%); }

.Cal__Years__list {
  box-sizing: border-box; }

.Cal__Years__list.Cal__Years__center {
  display: flex;
  align-items: center;
  justify-content: center; }

.Cal__Years__year {
  display: flex;
  padding: 0 20px;
  height: 100%;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  font-weight: 500;
  text-align: center;
  cursor: pointer;
  -webkit-user-select: none;
  box-sizing: border-box; }

.Cal__Years__year.Cal__Years__withMonths {
  border-bottom: 1px solid #E9E9E9; }

.Cal__Years__year.Cal__Years__withMonths label {
  height: 88px;
  padding-top: 12px;
  box-sizing: border-box; }

.Cal__Years__year label {
  flex-basis: 42%; }

.Cal__Years__year label span {
  flex-shrink: 0;
  color: #333; }

.Cal__Years__year ol {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  font-size: 14px; }

.Cal__Years__year ol li {
  display: flex;
  width: 44px;
  height: 44px;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  list-style: none;
  border-radius: 50%;
  box-sizing: border-box;
  color: #444;
  font-weight: 400;
  text-transform: capitalize; }

.Cal__Years__year ol li.Cal__Years__currentMonth {
  border: 1px solid; }

.Cal__Years__year ol li.Cal__Years__selected {
  position: relative;
  z-index: 1;
  background-color: blue;
  color: #fff !important;
  border: 0; }

.Cal__Years__year ol li.Cal__Years__disabled {
  cursor: not-allowed;
  color: #AAA; }

.Cal__Years__year ol li.Cal__Years__disabled:hover {
  background-color: inherit; }

.Cal__Years__year ol li:hover {
  background-color: #EFEFEF; }

.Cal__Years__year:hover label > span,
.Cal__Years__year.Cal__Years__active label > span {
  color: inherit; }

.Cal__Years__year:hover,
.Cal__Years__year.Cal__Years__active {
  position: relative;
  z-index: 2; }

.Cal__Years__year.Cal__Years__active {
  font-size: 32px; }

.Cal__Years__year.Cal__Years__currentYear {
  position: relative; }

.Cal__Years__year.Cal__Years__currentYear label > span {
  min-width: 50px;
  padding-bottom: 5px;
  border-bottom: 3px solid; }

.Cal__Years__year.Cal__Years__currentYear.Cal__Years__active label > span {
  min-width: 85px; }

.Cal__Years__year.Cal__Years__first {
  padding-top: 40px; }

.Cal__Years__year.Cal__Years__last {
  padding-bottom: 40px; }

.Cal__Animation__enter {
  opacity: 0;
  transform: translate3d(0, -100%, 0);
  transition: 0.25s ease; }

.Cal__Animation__enter.Cal__Animation__enterActive {
  opacity: 1;
  transform: translate3d(0, 0, 0); }

.Cal__Animation__leave {
  transform: translate3d(0, 0, 0);
  transition: 0.25s ease; }

.Cal__Animation__leave.Cal__Animation__leaveActive {
  opacity: 0;
  transform: translate3d(0, 100%, 0); }

.Cal__Slider__root,
.Cal__Slider__slide {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0; }

.Cal__Slider__root {
  overflow: hidden; }

.Cal__Slider__slide {
  padding: 20px 65px; }

.Cal__Slider__slide:first-child {
  padding-left: 20px; }

.Cal__Slider__wrapper {
  height: 100%;
  transition: transform 0.3s ease; }

.Cal__Slider__arrow {
  position: absolute;
  top: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 100%;
  opacity: 0.7;
  cursor: pointer;
  border-left: 1px solid rgba(255, 255, 255, 0.1); }

.Cal__Slider__arrow svg {
  width: 15px; }

.Cal__Slider__arrow:hover {
  opacity: 1; }

.Cal__Slider__arrowRight {
  right: 0; }

.Cal__Slider__arrowLeft {
  left: 0;
  transform: scaleX(-1); }

.Cal__transition__enter {
  opacity: 0; }

.Cal__transition__enterActive {
  opacity: 1;
  transition: opacity 0.3s ease; }

.Cal__transition__leave {
  opacity: 1; }

.Cal__transition__leaveActive {
  opacity: 0;
  transition: opacity 0.3s ease; }

.Cal__Month__rows {
  position: relative;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 50%, rgba(0, 0, 0, 0.05) 100%); }

.Cal__Month__row {
  padding: 0;
  margin: 0; }

.Cal__Month__row:first-child {
  text-align: right; }

.Cal__Month__row:first-child li {
  background-color: #fff;
  box-shadow: 0 -1px 0 #E9E9E9; }

.Cal__Month__row:nth-child(2) {
  box-shadow: 0 -1px 0 #E9E9E9; }

.Cal__Month__row.Cal__Month__partial:first-child li:first-child {
  box-shadow: 0px -1px 0 #E9E9E9, inset 1px 0 0 #E9E9E9; }

.Cal__Month__row.Cal__Month__partial:last-of-type li {
  position: relative;
  z-index: 1; }

.Cal__Month__label {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0;
  font-size: 30px;
  font-weight: 500;
  z-index: 3;
  pointer-events: none;
  background-color: rgba(255, 255, 255, 0.6);
  opacity: 0;
  transition: opacity 0.3s ease; }

.Cal__Month__label > span {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 56px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: capitalize; }

.Cal__Month__label.Cal__Month__partialFirstRow {
  top: 56px; }

/*rc slider*/
.rc-slider {
  position: relative;
  height: 22px;
  padding: 15px 0 20px;
  width: 94%;
  border-radius: 6px;
  -ms-touch-action: none;
  touch-action: none;
  box-sizing: border-box;
  margin: auto;
  -webkit-tap-highlight-color: transparent; }

.rc-slider * {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent; }

.rc-slider-rail {
  position: absolute;
  width: 100%;
  background-color: #e9e9e9;
  height: 4px;
  border-radius: 6px; }

.rc-slider-track {
  position: absolute;
  left: 0;
  height: 5px;
  border-radius: 6px;
  background-color: #F98100; }

.rc-slider-handle {
  position: absolute;
  margin-left: -10px;
  margin-top: -10px;
  width: 22px;
  height: 22px;
  cursor: pointer;
  cursor: -webkit-grab;
  cursor: grab;
  border-radius: 50%;
  border: solid 2px #F98100;
  background-color: #fff;
  -ms-touch-action: pan-x;
  touch-action: pan-x; }

.rc-slider-handle:hover {
  border-color: #F98100; }

.rc-slider-handle:active {
  border-color: #F98100;
  box-shadow: 0 0 5px #F98100;
  cursor: -webkit-grabbing;
  cursor: grabbing; }

.rc-slider-handle:focus {
  border-color: #F98100;
  box-shadow: 0 0 0 5px #F98100;
  outline: none; }

.rc-slider-mark {
  position: absolute;
  top: 18px;
  left: 0;
  width: 100%;
  font-size: 12px; }

.rc-slider-mark-text {
  position: absolute;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  cursor: pointer;
  color: #999; }

.rc-slider-mark-text-active {
  color: #666; }

.rc-slider-step {
  position: absolute;
  width: 100%;
  height: 4px;
  background: transparent; }

.rc-slider-dot {
  position: absolute;
  bottom: -2px;
  margin-left: -4px;
  width: 8px;
  height: 8px;
  border: 2px solid #e9e9e9;
  background-color: #fff;
  cursor: pointer;
  border-radius: 50%;
  vertical-align: middle; }

.rc-slider-dot-active {
  border-color: #F98100; }

.rc-slider-disabled {
  background-color: #e9e9e9; }

.rc-slider-disabled .rc-slider-track {
  background-color: #ccc; }

.rc-slider-disabled .rc-slider-handle,
.rc-slider-disabled .rc-slider-dot {
  border-color: #ccc;
  box-shadow: none;
  background-color: #fff;
  cursor: not-allowed; }

.rc-slider-disabled .rc-slider-mark-text,
.rc-slider-disabled .rc-slider-dot {
  cursor: not-allowed !important; }

.rc-slider-vertical {
  width: 14px;
  height: 100%;
  padding: 0 5px; }

.rc-slider-vertical .rc-slider-rail {
  height: 100%;
  width: 4px; }

.rc-slider-vertical .rc-slider-track {
  left: 5px;
  bottom: 0;
  width: 4px; }

.rc-slider-vertical .rc-slider-handle {
  margin-left: -5px;
  margin-bottom: -7px;
  -ms-touch-action: pan-y;
  touch-action: pan-y; }

.rc-slider-vertical .rc-slider-mark {
  top: 0;
  left: 18px;
  height: 100%; }

.rc-slider-vertical .rc-slider-step {
  height: 100%;
  width: 4px; }

.rc-slider-vertical .rc-slider-dot {
  left: 2px;
  margin-bottom: -4px; }

.rc-slider-vertical .rc-slider-dot:first-child {
  margin-bottom: -4px; }

.rc-slider-vertical .rc-slider-dot:last-child {
  margin-bottom: -4px; }

.rc-slider-tooltip-zoom-down-enter,
.rc-slider-tooltip-zoom-down-appear {
  -webkit-animation-duration: .3s;
  animation-duration: .3s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  display: block !important;
  -webkit-animation-play-state: paused;
  animation-play-state: paused; }

.rc-slider-tooltip-zoom-down-leave {
  -webkit-animation-duration: .3s;
  animation-duration: .3s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  display: block !important;
  -webkit-animation-play-state: paused;
  animation-play-state: paused; }

.rc-slider-tooltip-zoom-down-enter.rc-slider-tooltip-zoom-down-enter-active,
.rc-slider-tooltip-zoom-down-appear.rc-slider-tooltip-zoom-down-appear-active {
  -webkit-animation-name: rcSliderTooltipZoomDownIn;
  animation-name: rcSliderTooltipZoomDownIn;
  -webkit-animation-play-state: running;
  animation-play-state: running; }

.rc-slider-tooltip-zoom-down-leave.rc-slider-tooltip-zoom-down-leave-active {
  -webkit-animation-name: rcSliderTooltipZoomDownOut;
  animation-name: rcSliderTooltipZoomDownOut;
  -webkit-animation-play-state: running;
  animation-play-state: running; }

.rc-slider-tooltip-zoom-down-enter,
.rc-slider-tooltip-zoom-down-appear {
  -webkit-transform: scale(0, 0);
  transform: scale(0, 0);
  -webkit-animation-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
  animation-timing-function: cubic-bezier(0.23, 1, 0.32, 1); }

.rc-slider-tooltip-zoom-down-leave {
  -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
  animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06); }

@-webkit-keyframes rcSliderTooltipZoomDownIn {
  0% {
    opacity: 0;
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    -webkit-transform: scale(0, 0);
    transform: scale(0, 0); }
  100% {
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1); } }

@keyframes rcSliderTooltipZoomDownIn {
  0% {
    opacity: 0;
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    -webkit-transform: scale(0, 0);
    transform: scale(0, 0); }
  100% {
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1); } }

@-webkit-keyframes rcSliderTooltipZoomDownOut {
  0% {
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1); }
  100% {
    opacity: 0;
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    -webkit-transform: scale(0, 0);
    transform: scale(0, 0); } }

@keyframes rcSliderTooltipZoomDownOut {
  0% {
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1); }
  100% {
    opacity: 0;
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    -webkit-transform: scale(0, 0);
    transform: scale(0, 0); } }

.rc-slider-tooltip {
  position: absolute;
  left: -9999px;
  top: -9999px;
  visibility: visible;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent; }

.rc-slider-tooltip * {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent; }

.rc-slider-tooltip-hidden {
  display: none; }

.rc-slider-tooltip-placement-top {
  padding: 4px 0 8px 0; }

.rc-slider-tooltip-inner {
  padding: 6px 2px;
  min-width: 24px;
  height: 24px;
  font-size: 12px;
  line-height: 1;
  color: #fff;
  text-align: center;
  text-decoration: none;
  background-color: #6c6c6c;
  border-radius: 6px;
  box-shadow: 0 0 4px #d9d9d9; }

.rc-slider-tooltip-arrow {
  position: absolute;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid; }

.rc-slider-tooltip-placement-top .rc-slider-tooltip-arrow {
  bottom: 4px;
  left: 50%;
  margin-left: -4px;
  border-width: 4px 4px 0;
  border-top-color: #6c6c6c; }
